<div class="container">
  <h1>Lorem ipsum </h1>
  <hr>
  <div class="content">
    <div>
      <h2>Lorem ipsum</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore magni laborum eos repudiandae alias neque nemo quo aliquid tenetur. Ea   obcaecati beatae dolorum consequuntur eius excepturi est quis praesentium vel!</p>
    </div>
    <div>
      <h2>Lorem ipsum</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo corrupti recusandae quis sed eum! Odit id fugit porro voluptate temporibus  ipsam  facere iste non nisi molestias dignissimos, sit tenetur corrupti.</p>
   </div>
  </div>
</div>
