<div class="Content flex">
  <h2>Lorem Ipsum</h2>
  <div class="Text flex">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facilis ullam soluta. Odio, veniam sunt. Impedit animi cumque fugit   dolores cupiditate facere reprehenderit consectetur! Ea explicabo mollitia numquam at incidunt!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque assumenda voluptate ad ipsa dolores deserunt libero aliquam sit autem ut  natus aut cumque mollitia ducimus a, aspernatur possimus rerum quo!</p>
  </div>
</div>
